<div class="nav-container">
  <!--  Back to Chat -->
  <div class="nav-left" [ngClass]="{ 'hide-back': isChatPage() }" routerLink="/chatbot">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <span>Back to Chat</span>
  </div>

  <!--  Right Buttons -->
  <div class="nav-actions">
    <!-- <button
      class="nav-btn"
      routerLink="/user-management"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      User Management
    </button> -->
    <button
      class="nav-btn"
      (click)="handleUserManagementClick()"
      [ngClass]="{ active: router.url === '/user-management' }"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      User Management
    </button>
    <button
      class="nav-btn"
      routerLink="/document-management"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Document Management
    </button>
  </div>
</div>
<!--  ACCESS DENIED POPUP -->
<div class="overlay" *ngIf="showAccessDenied"></div>

<div class="modal" *ngIf="showAccessDenied">
  <div class="modal-content">
    <h3>Access Denied</h3>

    <p>You are not authorized to view the users list.</p>

    <div class="modal-actions">
      <button (click)="closeAccessDenied()">OK</button>
    </div>
  </div>
</div>
