:host {
  display: block;
  width: 100%;
}

/* 🔥 Main navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 10px;
  background: #0f2a44; /* light clean background */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* 🔙 Left side (Back button) */
.nav-left {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 14px;
  font-weight: 500;
  //   color: #1e293b;
  color: #cbd5f5;

  cursor: pointer;
  transition: 0.2s;
}

.nav-left ion-icon {
  font-size: 18px;
}

.nav-left:hover {
  color: #ffffff;
}
.hide-back {
  visibility: hidden; /* keeps layout intact */
  pointer-events: none;
}
/* 🔘 Right side buttons */
.nav-actions {
  display: flex;
  gap: 10px;
}

/* 🔥 Buttons style (match your screenshot) */
.nav-btn {
  padding: 8px 8px;
  background: transparent; /* dark blue like your UI */
  color: #e2e8f0;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.25s;
}

/* Hover */
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Active state */
.nav-btn.active {
  background: #10286c;
  border-color: #081e5a;
  color: #ffffff;
}
