<div class="chat-layout">
  <div class="sidebar">chat sessions</div>

  <div class="chat-area" [ngClass]="{ 'before-chat': showCenter, 'after-chat': !showCenter }">
    <div class="center-screen" *ngIf="showCenter">
      <h2>Hey, aishwarya. Ready to dive in?</h2>
    </div>

    <div class="messages" *ngIf="!showCenter">
      <div *ngFor="let msg of messages" class="message" [ngClass]="msg.type">
        {{ msg.text }}
      </div>
    </div>

    <div class="input-box">
      <div class="input-wrapper">
        <button class="icon-btn" (click)="fileInput.click()">
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </button>
        <!-- hidden file input -->
        <input type="file" #fileInput (change)="onFileSelected($event)" hidden />

        <input
          class="giving-input"
          [(ngModel)]="userInput"
          (keyup.enter)="sendMessage()"
          placeholder="Ask anything"
        />

        <button class="icon-btn">
          <ion-icon name="mic-outline"></ion-icon>
        </button>

        <button class="send" (click)="sendMessage()">↵</button>
      </div>
    </div>
  </div>
</div>
