<div class="login-container">
  <div class="left">
    <div class="login-card">
      <form [formGroup]="loginForm">
        <div class="input-group">
          <input type="email" placeholder="Email address" formControlName="email" />

          <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors">
            <ng-container *ngIf="loginForm.get('email')?.errors?.['required']">
              <div class="error">Email is required</div>
            </ng-container>
            <!-- small creates a dom element, but ng container-> no dom element is created. -->
            <!-- ng-container disappears after processing -->
            <!-- Cleaner structure
            Better readability -->
            <!-- create logic, without extra element.  -->

            <ng-container *ngIf="loginForm.get('email')?.errors?.['email']">
              <div class="error">Enter a valid email format</div>
            </ng-container>

            <ng-container *ngIf="loginForm.get('email')?.errors?.['pattern']">
              <div class="error">Only @proclink.com emails are allowed</div>
            </ng-container>
          </div>
        </div>
        <!-- PASSWORD -->
        <div class="input-group password-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
          />

          <span class="eye-icon" (click)="togglePassword()">
            <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          </span>

          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <ng-container *ngIf="loginForm.get('password')?.errors?.['required']">
              <div class="error">Password is required</div>
            </ng-container>

            <ng-container *ngIf="loginForm.get('password')?.errors?.['minlength']">
              <div class="error">Must be at least 10 characters</div>
            </ng-container>

            <ng-container *ngIf="loginForm.get('password')?.errors?.['pattern']">
              <div class="error">Must contain 1 uppercase & 1 special character</div>
            </ng-container>
          </div>
          <!-- ng container instead of small -->
        </div>

        <!-- CONFIRM PASSWORD -->
        <div class="input-group password-group">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />

          <span class="eye-icon" (click)="showConfirmPassword = !showConfirmPassword">
            <ion-icon [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          </span>

          <!-- Required -->
          <div
            *ngIf="
              loginForm.get('confirmPassword')?.touched &&
              loginForm.get('confirmPassword')?.errors?.['required']
            "
          >
            <div class="error">Confirm password is required</div>
          </div>

          <!-- Match error (FORM LEVEL) -->
          <div
            *ngIf="
              loginForm.get('confirmPassword')?.touched && loginForm.errors?.['passwordMismatch']
            "
          >
            <div class="error">Passwords do not match</div>
          </div>
        </div>

        <div class="options">
          <label> <input type="checkbox" /> Remember me </label>
          <span class="forgot">Forgot password?</span>
        </div>

        <button (click)="onSubmit()">LOGIN</button>
      </form>
      <p class="social-text">Sign in with</p>

      <div class="social-icons">
        <a (click)="openLink('facebook')"><ion-icon name="logo-facebook"></ion-icon></a>
        <a (click)="openLink('twitter')"><ion-icon name="logo-twitter"></ion-icon></a>
        <a (click)="openLink('google')"> <ion-icon name="logo-google"></ion-icon></a>
        <a (click)="openLink('linkedin')"><ion-icon name="logo-linkedin"></ion-icon></a>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="content">
      <h2>Glad to see you!</h2>

      <p>Welcome to Proclink chatbot. Login to continue.</p>
    </div>
  </div>
</div>
