.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

// .navbar {
//   height: 8%;
// }

.layout-height {
  // height: 80%;
  height: 80%;
  // min-height: 0;
}
.header-footer-height {
  height: 10%;
  // overflow: auto;
}
