.header {
  background: var(--primary);
  color: var(--white);
  padding: 14px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  // position: fixed;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 26px;
}

.title h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.subtitle {
  font-size: 12px;
  opacity: 0.7;
}

.logout-btn {
  background: var(--secondary);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
